<%- include('partials/header') %>
  <link rel="stylesheet" href="/css/product.css">
  <main class="wrapper">
    <div class="product">
      <% if (product.images && product.images.length> 0) { %>
        <img src="<%= product.images[0] %>" alt="<%= product.title %>">
        <% } %>

          <form action="/api/cart" method="POST">
            <input type="hidden" name="userId" value="<%= user.id %>">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1">
            <button type="submit">Add to Cart</button>
          </form>
    </div>
    <div class="product-details">
      <h2>
        <%= product.title %>
      </h2>
      <p>
        <%= product.description %>
      </p>
      <p>Price: $<%= product.price %>
      </p>
      <small>Category: <%= product.category %></small>
    </div>
  </main>
  <%- include('partials/footer') %>